@import "../components/modal.css";

.post-frame {
  background: #FFFFFF;
  border: 1px solid #F2D194;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.post-items-organization {
  display: flex;
  justify-content: space-between;
}

.message {
  width: 99%;
  word-wrap: break-word;
}

.like-icon {
  width: 25px;
}

.like-container{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 5px;
}
