@import "../reset.css";
@import "../variables.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../components/posts.css";

.main-content {
  min-height: var(--height-main-content);
  padding: 10%;
  margin: auto;
  background-color:#EFEFEF ;

}

.logout-container {
  width: 100%;
  display: flex;
  justify-content: end;

}

.logout{
  border: none;
  color:#009fdd;
  font-weight: 600;
  margin: 10px;
  background: none;
}

.message-typing-container {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px solid #F2D194;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  gap: 5px;
}

.message-typing {
  border: none;
  outline: none;
}

.message{
  min-height: 30%;
  resize: none;

}

.button-submit-container{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.button-submit-feed {
  font-weight: 600;
  background: #79C4F2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 0.3rem 0.5rem;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 1s all;
  margin: 5px;
}

.button-submit-feed:hover{
  background: #009fdd;
}

.section-posts-container{
  display: flex;
  flex-direction: column;
}

.section-post {
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  .main-content {
    padding: 0 30%;
  }
}
